#errorMsg {
  text-align: center;
  font-size: 1.5rem;
  color: #c2185b;
  visibility:hidden;
}

mat-spinner {
  position:absolute !important;
  top: 50%;
  left: 50%;
  margin-top: -70px;
  margin-left: -70px;
  visibility: hidden;
}